@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

body {
 margin: 0px;
 font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}



/*nav*/
.nav-header {
  background: #34495E;
  height: 53px;
}

.nav-header .navbar-brand{
  padding-left: 25px;
  font-size: 30px;
}

.nav-header a {
  float:left;
  padding: 15px;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 23px;
}



/*subnav*/
.subnav {
  height: 46px;
  margin-left:15px;
  background-color:#3498DB;
}

.rant-search-input::-webkit-input-placeholder {
  color:white;
}

.rant-create-button {
  height:34px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  margin:0.3em 0.75em 0 0;
  background-color:white;
  font-size:15px;
  color:#1ABC9C;
}
.rant-create-button:hover{
  background-color:#1ABC9C;
  color:white;
}

.rant-search-input {
  width:351px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  float:left;
  padding:0.45em 0 0 0.7em;
  font-size:19px;
  font-weight:700;
  border:none;
  color:white;
  background-color:#3498DB;
}

.rant-search-input:focus{
  outline:0;
}



/*sign-in*/
.signin-aside{
  display:inline-block;
  width:361px;
  height:196px;
  margin-left:15px;
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:3px;
}

.signin-form {
  margin:18px;
}

.form-group{
  padding-left:.25em;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  border:2px solid #EBEBEB;
  font-size:18px;
  border-radius:3px;
  height:44px;
  width:331px;
}

.form-group:focus{
  outline: 2px solid #1ABC9C;
}

.signin-button{
  height: 33px;
  background-color:#1ABC9C;
  color:white;
  font-size:14px;
  border:none;
}
.signin-button:hover{
  color:#1ABC9C;
  background-color:white;
  border: 1px solid #1ABC9C;
}



/*main*/
.main{
  float:right;
  display:inline;
  width:1063px;
  padding:15px 0 0 15px;
}



/*rants*/
.rant-thumb{
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:2px;
  margin: 0 15px 15px 0;
}
.rant-thumb-title{
  font-weight:600;
  font-size:29px;
}
.rant-thumb-avatar{
  display:inline;
  border: 4px dashed black;
  border-radius: 25px 25px 0;
  margin-bottom:15px;
}
.rant-thumb-body{
  vertical-align:top;
  margin-left:20px;
  width:79%;
  font-size:1.3em;
  display:inline-block;
}



/*users*/
.user-thumb{
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:2px;
  height:192px;
  width:23.5%;
  margin: 0 15px 15px 0;
}



/*a{
 font-size: 15px;
 color: black;
 font-weight: 700;
 padding-left: 10px;
 padding-right: 10px;
 margin-bottom: 10px;
}*/
/*
a:-webkit-any-link {
 font-color: white;
 text-decoration: none;
 cursor: auto;
}*/

/*.fa-user{
  color:#BFC9CA;
  padding-top:.75em;
  position:absolute;
  z-index:-1;
}*/
/*#user-icon {
  position: relative;
  z-index: 1;
  left: -40px;
  top: 1px;
  color: #7B7B7B;
  width: 0;
}*/

/*.email-input::-webkit-input-placeholder::after {
   font-family: fontAwesome;
   content:'f007';
   color: #1ABC9C;
}*/
