@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

body {
 margin: 0px;
 font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}



/*nav*/
.nav-header {
  background: #34495E;
  height: 53px;
}

.nav-header .navbar-brand{
  padding-left: 25px;
  font-size: 30px;
}

.nav-header a {
  float:left;
  padding: 15px;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 23px;
}



/*subnav*/
.subnav {
  height: 46px;
  margin-left:15px;
  background-color:#3498DB;
}

.rant-search-input::-webkit-input-placeholder {
  color:white;
}

.rant-create-button {
  height:34px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  margin:0.3em 0.75em 0 0;
  background-color:white;
  font-size:15px;
  color:#1ABC9C;
}
.rant-create-button:hover{
  background-color:#1ABC9C;
  color:white;
}

.rant-search-input {
  width:351px;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  float:left;
  padding:0.45em 0 0 0.7em;
  font-size:19px;
  font-weight:700;
  border:none;
  color:white;
  background-color:#3498DB;
}

.rant-search-input:focus{
  outline:0;
}



/*sign-in*/
.signin-aside{
  display:inline-block;
  width:25%;
  height:196px;
  margin-left:15px;
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:3px;
}

.signin-form {
  margin:18px;
}

.form-group{
  padding:.25em;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  border:2px solid #EBEBEB;
  font-size:18px;
  border-radius:3px;
  height:44px;
  width:100%;
}

.form-group:focus{
  outline: 2px solid #1ABC9C;
}

.signin-button{
  height: 33px;
  background-color:#1ABC9C;
  color:white;
  font-size:14px;
  border:none;
}
.signin-button:hover{
  color:#1ABC9C;
  background-color:white;
  border: 1px solid #1ABC9C;
}

.fa{
  position:absolute;
  left:92%;
  padding-top:.8em;
  color: #BFC9CA;
}

.email-input:focus ~ .fa {
  color: #1ABC9C;
}

.password-input:focus ~ .fa {
  color: #1ABC9C;
}


/*main*/
.main{
  float:right;
  display:inline;
  width:73.8%;
  padding: 15px;
}



/*rants*/
.rant-thumb{
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:2px;
  margin: 0 15px 15px 0;
}
.rant-thumb-content{
  margin:15px;
}
.rant-thumb-title{
  width:100%;
  float:left;
  font-weight:600;
  font-size:29px;
  padding-bottom:.4em;
}
.rantEditButton{
  font-size:14px !important;
  float:left;
  border:none;
  background:#1ABC9C;
  color:white;
  padding:.6em 1em .6em 1em;
  position:inherit;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  border-radius:.2em;
}
.rantEditButton:focus{
  outline:none;
}
.rantEditButton:hover{
  background:white;
  border: 1px solid #1ABC9C;
  color:#1ABC9C;
}
.rant-thumb-avatar{
  clear:both;
  float:left;
  display:inline;
  border: 4px dashed black;
  border-radius: 25px 25px 0;
  margin-right:20px;
}
.rant-thumb-body{
  width:100%;
  clear:both;
  display:inline;
  font-size:1.3em;
}




.rantNew{
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:2px;
  height:60vh;
  padding:15px;
}
.rantTitleInput{
  float:left;
  border:none;
  border-bottom:2px solid #EBEBEB;
  font-size:29px;
  font-weight:600;
  width:60%;
}
.rantTitleInput:focus{
  outline: none;
  border:none;
  border-bottom:2px solid #1ABC9C;
}
.newRantButtons{
  height:10%;
}
.cancelButton{
  border:none;
  background:#C0C0C0;
  position:inherit;
  color:white;
  padding:.6em 1em .6em 1em;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  border-radius:.2em;
}
.saveButton{
  border:none;
  background:#1ABC9C;
  color:white;
  padding:.6em 1em .6em 1em;
  position:inherit;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  border-radius:.2em;
}
.deleteButton{
  border:none;
  background:#F1C40F;
  position:inherit;
  color:white;
  padding:.6em 1em .6em 1em;
  font-family: '.HelveticaNeueDeskInterface-Regular';
  border-radius:.2em;
  margin-left:5px;
}
.saveButton:hover{
  background:white;
  border: 1px solid #1ABC9C;
  color:#1ABC9C;
}
.cancelButton:hover{
  background:white;
  border: 1px solid #C0C0C0;
  color:#C0C0C0;
}
.deleteButton:hover{
  background:white;
  color:#F1C40F;
  border: 1px solid #F1C40F;
}
.newRantAvatar{
  width:22%;
  float:left;
  margin-top:10px;
}
.newRantTextArea{
  float:left;
  margin-top:10px;
  width:77%;
  height:80%;
  border:2px solid #EBEBEB;
  font-size:1.4em;
  padding:.5em;
}
.newRantTextArea:focus{
  outline:2px solid #1ABC9C;
}




.view-container{
  position:relative;
}

.view-animation.ng-enter {
  -webkit-animation: enter_animation 500ms;
  animation: enter_animation 500ms;

  /*
   * ng-animate has a slight starting delay for optimization purposes
   * so if you see a flicker effect then you'll need to put some extra
   * styles to "shim" the animation.
   */
  left:100%;
}

.view-animation.ng-leave {
  left:0%;
  opacity:1;
}

.view-animation.ng-leave,
.view-animation.ng-enter {
  position:absolute;
  top:0;
  width:100%;
  opacity:1;
}

.reveal-animation.ng-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 transition: 1s linear all; /* All other modern browsers and IE10+ */

 opacity: 1;
}


@-webkit-keyframes enter_animation {
  from { left:100%; }
  to { left:0%; }
}

@-webkit-keyframes leave_animation {
  from { left:100%; }
  to { left:0%; }
}




/*users*/
.user-thumb{
  border:1px solid #EBEBEB;
  box-shadow:1px 1px 1px #EBEBEB;
  border-radius:2px;
  height:192px;
  width:23.5%;
  margin: 0 15px 15px 0;
}

button:focus{
  outline:none;
}



/*a{
 font-size: 15px;
 color: black;
 font-weight: 700;
 padding-left: 10px;
 padding-right: 10px;
 margin-bottom: 10px;
}*/
/*
a:-webkit-any-link {
 font-color: white;
 text-decoration: none;
 cursor: auto;
}*/

/*.fa-user{
  color:#BFC9CA;
  padding-top:.75em;
  position:absolute;
  z-index:-1;
}*/
/*#user-icon {
  position: relative;
  z-index: 1;
  left: -40px;
  top: 1px;
  color: #7B7B7B;
  width: 0;
}*/

/*.email-input::-webkit-input-placeholder::after {
   font-family: fontAwesome;
   content:'f007';
   color: #1ABC9C;
}*/
