<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/app.css">
  </head>

  <body ng-app="rantly">

    <header class='nav-header' role='navigation'>
      <a class="navbar-brand" href="#/">Rantly</a>
      <nav>
        <a href="#/">Rants</a>
        <a href="#/users">Users</a>
        <a href="#/signup">Sign Up</a>
      </nav>
    </header>

    <div class="subnav">
      <input type="text"
             ng-model="rantSearch"
             placeholder='Search'
             class='rant-search-input'>
      <input type="button"
             ng-model="createRant"
             value='New Rant'
             ng-click="goto('/rants/new')"
             class='rant-create-button pull-right btn'>
    </div>

    <aside class="signin-aside">
      <form class="signin-form">
        <!-- <span class='fa fa-lg fa-user pull-right'></span> -->
        <div class="email-parent" style='position:relative;z-index:1'>
          <input type="text"
                 ng-model="email"
                 placeholder='Your email'
                 class='form-group email-input'
                 style='position:absolute'>
          <label class='fa fa-lg fa-user'></label>
        </div>

        <div class="email-parent" style='position:relative;padding-top:18%'>
          <input type="text"
                 ng-model="password"
                 placeholder='Your password'
                 class="form-group password-input">
          <label class='fa fa-lg fa-lock' style='position:absolute;margin-top:-18%'></label>
        </div>

        <div class="parent" style='position:relative'>
          <input type="submit"
                 ng-model="submit"
                 value="Log In"
                 class="form-group signin-button">
        </div>

      </form>
    </aside>

    <div class="main">
      <div class="view-container">
         <div ng-view class='view-animation'></div>
      </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/editRant.js"></script>
    <script src="scripts/controllers/newRant.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers/rants.js"></script>
    <script src="scripts/controllers/users.js"></script>

  </body>
</html>
