<div ng-model='rant' class="rantNew">
  {{rant.title}}
  <input type="text" class='rantTitleInput' ng-model='rant.title'>
  <div class="newRantButtons">
    <button class='fa fa-sign-out cancelButton pull-right' ng-click="goto('/rants')"> Cancel</button>
    <button class='saveButton fa fa-floppy-o pull-right' ng-click="save('rant.title', 'rant.body')"> Save</button>
  </div><br>
  <div class="newRantAvatar">
    Avatar <br>
    <h4>{{rant.body.length || 0}} characters.</h4>
  </div>
  <textarea ng-model='rant.body' class='newRantTextArea'></textarea>
</div>


<hr><hr>
<form ng-submit='findRant()'>
  <input type="text" ng-model="id">
  <input type="submit" value="Find user">
</form>
<h1>A single rant</h1>
{{rant.body}}
