<div ng-repeat='rant in rants'>
  <div class="rant-thumb">
    <div class="rant-thumb-content clearfix">
      <div class='rant-thumb-title'>{{rant.title}}
        <button class='fa fa-pencil-square-o rantEditButton pull-right' ng-click="goto('rants/{{rant.id}}/edit')"> Edit</button>
      </div>
      <img class='rant-thumb-avatar' src={{rant.user.avatar}} style="width:21%;height:100px" alt="" />
      <div class="rant-thumb-body">{{rant.body}}</div>
    </div>
  </div>
  <div ng-repeat='rant in $scope.rants'>
    {{rant}}
  </div>
</div>
