<div class="signupHeader">
  <h1>Sign up for Rantly!</h1>
<form class="signup-form">
  <!-- <span class='fa fa-lg fa-user pull-right'></span> -->
  <input type="text"
         ng-model="firstName"
         placeholder='First Name'
         class='form-group fNameInput'>

  <input type="text"
         ng-model="lastName"
         placeholder='Last Name'
         class='form-group lNameInput'>

    <input type="text"
           ng-model="email"
           placeholder='Your email'
           class='form-group emailInput'>

    <input type="text"
           ng-model="password"
           placeholder='Your password'
           class="form-group passwordInput">

    <input type="submit"
           ng-model="submit"
           value="Sign Up"
           class="form-group signupButton">

</form>
</div>
