<div ng-repeat="user in users">
  <div class="user-thumb col-md-3">
    <div class="user-thumb-avatar">
      <img src={{user.avatar}}
           style="width:221px;
                  height:100px;
                  border:4px dashed black;
                  border-radius: 25px 25px 0;
                  margin-top:15px;"
           alt="da fuq" />
    </div>
    <h4>{{user.full_name}}</h4>
    <h5>{{user.email}}</h5>
  </div>
</div>

<hr><hr>
<form ng-submit='findUser()'>
  <input type="text" ng-model="id">
  <input type="submit" value="Find user">
</form>
